.container {
    display: grid;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

.caixa1 {
    background-color: red;
    grid-area: 1 / 1 / span 1 / span 4; /* A propriedade 'grid-area' permite nomear uma área específica dentro de um layout de grade CSS e é uma forma abreviada para definir a posição e o tamanho de um item, substituindo 'grid-row-start', 'grid-column-start', 'grid-row-end' e 'grid-column-end'. */
}

.caixa2 {
    background-color: green;
    grid-area: 2 / 1 / span 2 / span 2;
}

.caixa3 {
    background-color: blue;
    grid-area: 2 / 3 / span 2 / span 2;
}