.container {
    display: grid;
    grid-template-rows: 4;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 5px;
}

.header {
    background-color: orange;
    text-align: center;
    grid-area: 1 / 1 / span 1 / -1;
    height: 50px;
    line-height: 50px;
}

.menu {
    background-color: red;
    text-align: center;
    grid-area: 2 / 1 / span 1 / span 3;
    height: 30px;
    line-height: 30px;
}

.main {
    background-color: green;
    text-align: center;
    grid-area: 3/ 1 / span 1 / span 2;
    height: 300px;
    line-height: 300px;
}

.aside {
    background-color: yellow;
    text-align: center;
    grid-area: 3 / 3 / span 1 / -1;
    height: 300px;
    line-height: 300px;
}

.footer {
    background-color: blueviolet;
    text-align: center;
    grid-area: 4 / 1 / 5 / 4;
    height: 40px;
    line-height: 40px;
}